@require "../styles"

.control
    field();
    
    display: table;
    line-height: 1;
    width: 100%;

    &.invalid
        invalid();

    &.active
        active();

.input-zone
    display: table-cell;
    vertical-align: middle;
    line-height: 1;

    input
        padding: 0;
        margin: 0;
        background: transparent;
        border: none;
        outline: none;
        width: 100%;

        placeholder($field-placeholder-color)

        &:focus
            outline: none;

.strength-zone
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
    width: 1%;

    .container
        padding: 0 0.5em;
        line-height: 0;
        position: relative;

        .label
            position: absolute;
            bottom: -0.3em;

            span
                font-size: 0.5em;

.unmask-button-zone
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    width: 1%;

    .unmask-button
        line-height: 1;
        font-size: 0.5em;
        cursor: pointer;
        vertical-align: middle;
