@require "~darch/src/styles/table";

.main
    padding-bottom: 100px;

.title
    margin-right: 10px;

.props-list
    margin: 0;
    padding-left: 15px;

.prop-table-container
    table-container();

.prop-table
    table();

    td, th
        vertical-align: top;

.result-box
    padding: 2em;
    border: 1pt dashed #999;