@require "./variables"

tableContainer()
    @media (max-width: $screen-phone-max)
        overflow-x: scroll;
        border: 1px solid #ddd;
        
table()
    border-collapse: collapse;
    vertical-align: middle;
    width: 100%;
    
    /*@media (min-width: $screen-tablet-min)
        width: 100%;*/

    th,td
        padding: 1em;
    
    th
        font-weight: 3*$text-weight;
    
    thead
        tr:first-child
            th
                border-top: 3px solid #eee;
        tr:last-child
            th
                border-bottom: 1px solid #ddd;
    tbody:last-child
        tr:last-child
            td
                border-bottom: 3px solid #eee;

table-main()
    :global(.darch-table-container)
        tableContainer();

    :global(.darch-table)
        table();