box-sizing($model)
    -webkit-box-sizing: $model;
    -moz-box-sizing: $model;
    box-sizing: $model;

opacity($value)
    $value-ie = round($value * 100);

    opacity: $value;
    filter: unquote('alpha(opacity=' + $value-ie + ')')
    -ms-filter unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=' + $value-ie + ')"')

bright($color, $threshold)
    $threshold ?= 50
    $r = red($color)
    $g = green($color)
    $b = blue($color)
    $luma = 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;

    if($luma > $threshold)
        return true

    return false

clearfix()
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }

caret()
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top:   0.3em solid;
    border-right: 0.3em solid transparent;
    border-left:  0.3em solid transparent;

shadow($shadow)
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
