doctype html

html(lang="pt-br")
    head
        title #{title}

        link(rel="icon" type="image/png" href="#{logo_favicon_url}")

        // Icons style
        //link(rel="stylesheet" href="/assets/icomoon/style.css")

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="description" content="#{description}")
        meta(name="keywords" content="#{keywords}")

        // Twitter
        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content="#{title}")
        meta(name="twitter:description" content="#{description}")
        meta(name="twitter:image" content="#{logo_icon_url}")
        meta(name="twitter:url" content="#{base_url}")

        // Facebook
        meta(property="og:locale" content="pt_BR")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="#{title}")
        meta(property="og:image" content="#{logo_icon_url}")
        meta(property="og:url" content="#{base_url}")
        meta(property="og:title" content="#{title}")
        meta(property="og:description" content="#{description}")

        if fb_app_id
            meta(property="fb:app_id" content="#{fb_app_id}")

        // Start Single Page Apps for GitHub Pages
        script.
            // Single Page Apps for GitHub Pages
            // https://github.com/rafrex/spa-github-pages
            // Copyright (c) 2016 Rafael Pedicini, licensed under the MIT License
            // ----------------------------------------------------------------------
            // This script checks to see if a redirect is present in the query string
            // and converts it back into the correct url and adds it to the
            // browser's history using window.history.replaceState(...),
            // which won't cause the browser to attempt to load the new url.
            // When the single page app is loaded further down in this file,
            // the correct url will be waiting in the browser's history for
            // the single page app to route accordingly.
            (function(l) {
                if (l.search) {
                    var q = {};
                    
                    l.search.slice(1).split('&').forEach(function(v) {
                        var a = v.split('=');
                        q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
                    });
                    
                    if (q.p !== undefined) {
                        window.history.replaceState(null, null,
                            l.pathname.slice(0, -1) + (q.p || '') +
                            (q.q ? ('?' + q.q) : '') +
                            l.hash
                        );
                    }
                }
            }(window.location))

        // Mixpanel script
        if mixpanel_key
            script.
                (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}
                var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=1;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
                mixpanel.init("#{mixpanel_key}");

        // Google Analytics script
        if analytics_key
            script.
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                ga('create', '#{analytics_key}', 'auto');

        // Resources lazy load
        script.
            window.indexPageLoadCheck = function() {
                if(!window.appLoaded && window.jsLoaded) {
                    window.resourcesReady = true;

                    // Remove loader if app is ready.
                    if(window.appReady) {
                        var loader = document.getElementById("loader-overlay");
                        if(loader){ loader.style.display = 'none'; }

                        window.appLoaded = true;
                    }
                }
            };

            // Load scripts
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = "/assets/common.js";
            script.onload = function(){
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = "/assets/main.js";
                script.onload = function(){ window.jsLoaded = true; window.indexPageLoadCheck();}
                document.getElementsByTagName("head")[0].appendChild(script);
            }

            document.getElementsByTagName("head")[0].appendChild(script);

        style.
            .loader.page-center {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .loader .dot {
                width: 10px;
                height: 10px;
                border: 2px solid #446CB3;
                border-radius: 50%;
                float: left;
                margin: 0 5px;
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-animation: fx 1000ms ease infinite 0ms;
                animation: fx 1000ms ease infinite 0ms;
            }
            .loader .dot:nth-child(2) {
                -webkit-animation: fx 1000ms ease infinite 300ms;
                animation: fx 1000ms ease infinite 300ms;
            }
            .loader .dot:nth-child(3) {
                -webkit-animation: fx 1000ms ease infinite 600ms;
                animation: fx 1000ms ease infinite 600ms;
            }
            @-webkit-keyframes fx {
                50% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
            @keyframes fx {
                50% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }

    body
        div#loader-overlay(style="position: fixed; top: 0; left: 0; z-index: 10000; width: 100%; height: 100%;")
            div.background(style="position: absolute; top: 0; left: 0; background: #fff; opacity: 0.5; width: 100%; height: 100%")
            div.loader.page-center
                div.dot
                div.dot
                div.dot
        div#main
            h1
