.progress
    .trail
        stroke: #dedede;

    .path
        stroke: #3e98c7;
        transition: stroke-dashoffset 0.5s ease 0s;

    .text
        fill: #3e98c7;
        font-size: 20px;
        dominant-baseline: middle;
        text-anchor: middle;
