@require "~darch/src/styles/variables"
@require "~darch/src/styles/utils"
@require "~darch/src/styles/animation"
@require "~darch/src/styles/text"
        
.button-text-case-upper
    text-transform: uppercase;

.button-text-case-lower
    text-transform: lowercase;

/** Base Style **/
.button
    display: inline-block;
    font-size: $text-size;
    font-weight: $button-text-weight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: $button-border-radius;
    white-space: nowrap;
    margin: 0;
    text-decoration: none;
    line-height: normal;

    padding: $button-padding-vertical $button-padding-horizontal;

    transition(all 0.2s ease-in-out);
    
    &, > *
        vertical-align: middle;
        line-height: 1;

    &:hover,
    &:focus,
    &.active
        outline: none;
        text-decoration: none;
        background-image: none;

.button-block
    display: block !important;
    width: 100%;

/** Flat Style **/
.button-flat
    color: $text-color;
    background-color: white;
    border: none;

    &:hover,
    &:focus
        background-color: #f5f5f5;
        color: $text-color;

.button-flat-disabled
    cursor: not-allowed;
    pointer-events: none;
    opacity(0.5)

/** Outline Style **/
.button-outline
    background-color: transparent;

    &:hover,
    &:focus,
    &.active
        background-color: transparent;

.button-outline-disabled
    cursor: not-allowed;
    pointer-events: none;
    opacity(0.5)

/** None Style **/
.button-none
    background-color: transparent;

    &:hover,
    &:focus,
    &.active
        background-color: transparent;

.button-none-disabled
    cursor: not-allowed;
    pointer-events: none;
    opacity(0.5)

/** Link Style **/
.button-link
    background-color: transparent;
    padding: 0;

    &:hover,
    &:focus,
    &.active
        background-color: transparent;
    
    link();
