@require "~styles/variables"
@require "~styles/utils"

.label
    display: inline-block;
    vertical-align: middle;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;

.label-flat
    color: $text-color;
    background-color: white;

.label-outline
    color: $text-color;
    border: 1px solid white;